{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if Film.title %}
        <h1>{{ Film.title }}</h1>
        <p>{{ Film.description }}</p>
        <h3>Reviews:</h3><hr \>
        {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                {{ Form.as_p }}
                <button type="submit">Add essay!</button>
            </form>
            <hr />
        {% endif %}
        {% for review in Review %}<!-- yes its called reviews, this was copied and pasted form reviews          -->
            <h3>Essay by {{ review.author }} at {{ review.date_posted }}</h3>
            <p>{{ review.content }}</p>
            {% if review.author == currentuser %}
            <!-- note: these forms must have these names, otherwise deleting and editing will not work          -->
            <!-- if you can find some way to give the reviewid to the django without these forms change it :)   -->
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="deleteid" value="{{ review.id }}">
                    <button type="submit">Delete essay</button>
                </form>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="reviewid" value="{{ review.id }}">
                    <input type="text" name="changecontents">
                    <button type="submit">Edit essay</button>
                </form>
            {% endif %}
            {% if user.is_authenticated %}
                <form method="POST"><!-- creating new comments-->
                    {% csrf_token %}
                    <input type="hidden" name="commentparent" value="0">
                    <input type="hidden" name="commentmasteressay" value="{{ review.id }}">
                    <input type="text" name="commentcontents">
                    <button type="submit">Add comment!</button>
                </form>
            {% endif %}
            {% for comment in comments %}
                {% if comment.master.id == review.id %}    
                    {% if comment.parent %}
                    {% else %}  <!-- this file is included recursively to print all comments -->
                        {% include "films/comment.html" with comment=comment %}
                    {% endif %}   
                {% endif %}
            {% endfor %}
            <hr />
        {% endfor %}
    {% else %}
        <p>this film doesn't exist</p>
    {% endif %}
{% endblock content %}